{% extends "games/base.html" %}

{% block title %}
Example
{% endblock %}

{% block content %}
<h1>Hello mthfck</h1>
<p>Just text </p>
{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Example</title>-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->
<!--<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">-->
<!--      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">-->
<!--        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>-->
<!--        <span class="fs-4">GAMESHUB</span>-->
<!--      </a>-->

<!--      <ul class="nav nav-pills">-->
<!--        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>-->
<!--        <li class="nav-item"><a href="snake_JS/" class="nav-link">Games</a></li>-->
<!--        <li class="nav-item"><a href="#" class="nav-link">More sites</a></li>-->
<!--        <li class="nav-item"><a href="#" class="nav-link">About</a></li>-->
<!--      </ul>-->
<!--    </header>-->
<!--<h1>Hello mthfck</h1>-->
<!--<p>Just text </p>-->

<!--</body>-->
<!--</html>-->